.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: row;
    width: fit-content;
    column-gap: 50px;
    align-items: center;
    background-color: rgb(238, 242, 255);
    border-radius: 10px 10px 0 0;
    padding: 20px;
    border-bottom: none;
}

a, a:hover, a::after {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}